<h1>It's My Birthday</h1>
<h2>On the 27th June</h2>

<!-- Example image URL -->
<img src="https://raw.githubusercontent.com/appbrewery/webdev/main/birthday-cake3.4.jpeg" alt="cake photo">


<h3>What to bring :</h3>
<un>
    <li>Chocolate</li>
    <li>Gifts</li>
    <li>Clothes</li>
</un>

<h3>This is the way to go :</h3>
<a href="https://www.google.com/maps/@35.7040744,139.5577317,3a,75y,289.6h,87.01t,0.72r/data=!3m6!1e1!3m4!1sgT28ssf0BB2LxZ63JNcL1w!2e0!7i13312!8i6656">Link to map</a>